<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memo.tool">

    <application>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".preview.ImagePreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/iTheme" />

        <provider
            android:name=".provider.MatisseProvider"
            android:authorities="${applicationId}.provider.MatisseProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>
    </application>

</manifest>
