<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.memo.question">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.memo.base.application.BaseApplication"
        android:allowBackup="false"
        android:icon="@drawable/iframex"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iframex"
        android:supportsRtl="true"
        android:theme="@style/iTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">

        <activity android:name=".main.QuestionMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".q1.Q1Activity" />
        <activity android:name=".q2.OneActivity" />
        <activity android:name=".q2.TwoActivity" />
    </application>

</manifest>