<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memo.test">

    <application>
        <activity android:name=".ui.rxjava.RxJavaActivity"></activity>
        <activity android:name=".ui.location.LocationActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".ui.viewpager.ViewPagerActivity" />
        <activity android:name=".ui.recyclerview.resume.RecyclerViewResumeActivity" />
        <activity android:name=".ui.recyclerview.expand.ExpandActivity" />
        <activity android:name=".ui.retrofit.RetrofitActivity" />
        <activity android:name=".ui.bus.BusSubscribeActivity" />
        <activity android:name=".ui.bus.BusPostActivity" />
        <activity android:name=".ui.sw.SmallestWidthActivity" />
        <activity android:name=".ui.download.DownLoadActivity" />
        <activity android:name=".ui.ninegridview.NineGridActivity" />
        <activity android:name=".ui.status.LoadSirActivity" />
        <activity android:name=".ui.matisse.MatisseSelectActivity" />
        <activity android:name=".ui.notification.NotificationActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.anim.AnimActivity" />
        <activity android:name=".ui.share.ShareToActivity" />
        <activity android:name=".ui.share.ShareFromActivity" />
        <activity android:name=".ui.recyclerview.section.SectionRecyclerActivity" />
        <activity android:name=".ui.recyclerview.RecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.multi.MultiRecyclerActivity" />
        <activity android:name=".ui.recyclerview.grid.GridMultiActivity" />
        <activity android:name=".ui.recyclerview.drag.DragRvActivity" />
        <activity android:name=".ui.bottom.BottomActivity" />
        <activity android:name=".ui.drag.DragActivity" />
        <activity
            android:name=".ui.dialogactivity.KickOutActivity"
            android:theme="@style/kick_dialog_activity" />

        <service android:name=".ui.download.DownloadService" />
    </application>

</manifest>