<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.memo.tool">

	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

	<application
		android:usesCleartextTraffic="true"
		tools:ignore="UnusedAttribute">
		<meta-data
			android:name="android.notch_support"
			android:value="true" />
		
		<meta-data
			android:name="android.max_aspect"
			android:value="2.4" />
		
		<meta-data
			android:name="notch.config"
			android:value="portrait|landscape" />
		
		<activity
			android:name=".preview.ImagePreviewActivity"
			android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		
		<activity
			android:name="com.yalantis.ucrop.UCropActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
		
		<provider
			android:name=".photo.MatisseFileProvider"
			android:authorities="${applicationId}.provider.MatisseFileProvider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths_matisse" />
		</provider>
	</application>

</manifest>
